@import url('https://fonts.googleapis.com/css?family=Noto+Sans&display=swap');

body {
    margin: 0;
    font-family: Noto Sans, sans-serif;
    font-style: normal;
    font-weight: normal;
}

@font-face { 
    font-family: 'Bebas';
    src: url('/fonts/BebasNeue Regular.ttf')  format('truetype');
    font-weight: normal; 
    font-style: normal; 
}
